* {
  box-sizing:border-box;
}
body {
  background-color: skyblue;
  background: url("assets/drone_shot.jpg") no-repeat center center fixed;
  background-size: cover;
}

#main-container {
  background-color: rgba(245, 245, 245, 0.313);
  border: solid rgba(200, 200, 200, 0.509);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  width: 70%;
  height: 90vh;
}