@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

body:not(#memory-box) {
    animation: 1s ease-out 0s 1 appear;
    background-color: skyblue;
    background: url("assets/drone_shot.jpg") no-repeat center center fixed;
    background-size: cover;
}

button {
  border: none;
  margin: 5px 15px;
  padding: 5px 15px;
  width: 200px;
  box-shadow: 0 0px 3px 1px rgb(228, 228, 228);
  /* border-radius: 1px; */
  transition: 0.005s;
  background-color:rgba(228, 228, 228, 0.642);
}

button:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color:rgb(212, 212, 212);
}

button:active {
  background-color: rgba(213, 213, 213, 0.717);
  color:rgb(216, 216, 216);
}

h2 {
  font-weight: 900;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.313);
    border: solid rgba(200, 200, 200, 0.509);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    width: 70%;
    height: 90vh;
}

#memory-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


#memory-event {
  position: relative;
  width: 60vw;
}

#create-box {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color:rgba(253, 245, 235, 0.62);
}

.radio-button {
  border: none;
  position: relative;
  top: 2.0px;
  margin-left: 0;
  margin-right: 10px;
  /* accent-color: rgb(252, 204, 142); */
  /* outline: none; */
}


#memory-text, #memory-submit {
  height: 25px;
  border: none;
  box-shadow: 0 0px 3px 1px rgb(228, 228, 228);
  padding: 5px 10px;
}

#memory-text {
  height: 25px;
  border: none;
  box-shadow: 0 0px 3px 1px rgb(228, 228, 228);
  padding: 5px 10px;
}

#memory-text:focus {
  border: 0;
  outline: 0;
}

#memory-submit {
  color:rgb(108, 108, 108);
}

#memory-submit:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color:rgb(206, 206, 206);
}

#memory-submit:active {
  background-color: rgba(201, 201, 201, 0.874);
  color:rgb(216, 216, 216);
}

.submit-line {
  margin-top: 5px;
  
}

.modify-container {
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

#edit, #delete {
  position: relative;
  top: -10px;
  width: 45%;
  user-select: none;
  font-size: 14px;
}

#edit:hover, #delete:hover {
  cursor: pointer;
}

#edit:active, #delete:active {
  color: rgb(52, 52, 52);
}

@keyframes appear {
  0% {
    opacity: 0;
    /* transform: translateX(-100%); */
  }
  100% {
    opacity: 1;
    /* transform: translateX(0); */
  }
}